@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px; 
}
html, body {
    background-color: black;
    background-image: url("img/planodefundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    padding: 10px;
}
h2 {
    color: white;
    padding: 10px;
    margin-left: 50px;
}
div#tabela {
    overflow-x: auto;
}
table {
    
    position: relative;
    width: 600px;
    border-collapse: collapse;
    margin: 25px 20px;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
tr.hrs {
    background-color: gray;
    color: white;
    height: 10px;
    font-size: 10px;
}
tr.materia {
    background-color: rgb(181, 180, 180);
}
tr.semana {
    background-color: rgb(133, 197, 191);
    color: black;
}
div#lista {
    max-width: 700px;
    height: 200px;
    margin: 20px;
}
ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
    cursor: pointer;
}
li {
    border: 1px solid black;
    width: 200px;
    text-align: center;
    background-color: rgb(133, 197, 191);
    margin: 10px;
    padding: 8px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.893);
}
li:hover {
    border: 2px solid rgba(0, 0, 0, 0.585);
    transform: translate(-2px, -2px); 
    transition: transform 0,4s;
 }
a {
    text-decoration: none;
    color: black;
}